* {
  box-sizing: border-box;
}

body {
  background-color: #2D302C;
  color: #D9A24B;
  font-size: 18px;
  line-height: 1.6; /* interligne pour la lisibilité FALC */
  font-family: Arial, sans-serif;

}

h2 {
  text-align: center;
  color: #688D6A;
  font-size: 2.5rem;

}
